<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Editar senha
                </h1>
                <div class="page-header__buttons">
                    <button mat-raised-button color="primary" (click)="submit(form)">
                        SALVAR
                    </button>
                    <button mat-stroked-button color="warn" (click)="deletarData()">
                        DELETAR
                    </button>
                    <button mat-stroked-button color="primary" routerLink="/senhas">
                        VOLTAR
                    </button>
                </div>
            </div>

            <form class="page-form" #form="ngForm">

                <h3 class="page-form__title">
                    Dados da senha
                </h3>

                <mat-form-field class="page-form-control two-third">
                    <input matInput type="text" placeholder="Endereço de IP" [(ngModel)]="data.enderecoIp"
                        name="enderecoIp" required>
                </mat-form-field>

                <mat-form-field class="page-form-control third">
                    <input matInput type="tel" placeholder="Porta" [(ngModel)]="data.porta" name="porta" mask="0*"
                        required>
                </mat-form-field>


                <mat-form-field class="page-form-control third">
                    <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="myControl"
                        [matAutocomplete]="auto" (keyup.enter)="submitCliente($event.target.value)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                        <mat-option [value]="myControl.value" [disabled]="!isOptionsEmpty"
                            (click)="submitCliente(myControl.value)">
                            Adicionar cliente novo
                        </mat-option>
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="page-form-control third">
                    <mat-select name="recurso" [(ngModel)]="data.recurso" placeholder="Recurso" [compareWith]="recursoService.compareFn">
                        <mat-option>
                            <ngx-mat-select-search [(ngModel)]="searchRecursos" name="searchRecursos"
                                placeholderLabel="Pesquise aqui" noEntriesFoundLabel="Nenhum registro encontrado">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option>Selecionar</mat-option>
                        <mat-option *ngFor="let r of recursos | filter:searchRecursos:'nome'" [value]="r">
                            {{r.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="page-form-control third">
                    <mat-label>Servidor</mat-label>
                    <mat-select name="servidor" [(ngModel)]="data.servidor" placeholder="Servidor" [compareWith]="servidorService.compareFn">
                        <mat-option>Selecionar</mat-option>
                        <mat-option *ngFor="let s of servidores" [value]="s">
                            {{s.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="page-form-control">
                    <label for="observacao">Descrição completa*</label>
                    <div class="summer-note" [ngxSummernote]="helper.config" [(ngModel)]="data.observacao"
                        name="observacao"></div>
                </div>

                <h3 class="page-form__title">
                    Usuário Administrador
                </h3>

                <mat-form-field class="page-form-control half">
                    <input matInput type="text" placeholder="Usuário" [(ngModel)]="data.usuarioCliente"
                        name="usuarioCliente" required>
                </mat-form-field>

                <mat-form-field class="page-form-control half">
                    <input matInput [type]="hideSenhaCliente ? 'password' : 'text'" placeholder="Senha"
                        [(ngModel)]="data.senhaCliente" name="senhaCliente" required>
                    <button mat-icon-button matSuffix (click)="hideSenhaCliente = !hideSenhaCliente"
                        [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hideSenhaCliente" type="button">
                        <mat-icon>{{hideSenhaCliente ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <h3 class="page-form__title">
                    Usuário Qualityinfo
                </h3>

                <mat-form-field class="page-form-control half">
                    <input matInput type="text" placeholder="Usuário" [(ngModel)]="data.usuarioInterno"
                        name="usuarioInterno" required>
                </mat-form-field>

                <mat-form-field class="page-form-control half">
                    <input matInput [type]="hideSenhaInterno ? 'password' : 'text'" placeholder="Senha"
                        [(ngModel)]="data.senhaInterno" name="senhaInterno" required>
                    <button mat-icon-button matSuffix (click)="hideSenhaInterno = !hideSenhaInterno"
                        [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hideSenhaInterno" type="button">
                        <mat-icon>{{hideSenhaInterno ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <h3 class="page-form__title">
                    Galeria
                </h3>

                <div class="custom-dropzone-image-list">
                    <div class="custom-dropzone-image-item" *ngFor="let img of imagens; let i = index;">
                        <img [src]="global.imageUrl+img.arquivo" [alt]="img.nome" *ngIf="isImage(img.arquivo)">
                        <a [href]="global.imageUrl+img.arquivo" target="_blank" *ngIf="!isImage(img.arquivo)">
                            <img [src]="'assets/icons/' + getFileExtension(img.arquivo) + '.svg'" [alt]="'image'+i">
                        </a>
                        <button mat-icon-button mat-raised-button matTooltip="Excluir" aria-label="Excluir" color="warn"
                            (click)="deletarImagem(img, i)" type="button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="custom-dropzone" ngx-dropzone [accept]="'*'" (change)="onSelect($event)">
                    <ngx-dropzone-label>
                        <div>
                            <h2>Arraste as imagens para a galeria</h2>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                        [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label></ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </div>

                <hr>
            </form>
        </div>
    </div>
</section>