<header class="header">
    <nav class="header-nav">
        <button mat-icon-button aria-label="Abrir menu" class="header-menu-toggle" (click)="global.toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <ul class="header-menu" [class.active]="global.menuOpen">
            <li class="header-menu__item">
                <a (click)="goTo('/')" mat-button class="header-menu__link">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="header-menu__item">
                <a (click)="goTo('/senhas')" mat-button color="primary" class="header-menu__link">
                    <i class="fas fa-lock"></i>
                    <span>Senhas</span>
                </a>
            </li>

            <li class="header-menu__item">
                <a (click)="goTo('/clientes')" mat-button color="primary" class="header-menu__link">
                    <i class="fas fa-user-tie"></i>
                    <span>Clientes</span>
                </a>
            </li>

            <li class="header-menu__item">
                <a (click)="goTo('/recursos')" mat-button color="primary" class="header-menu__link">
                    <i class="fas fa-hand-holding-medical"></i>
                    <span>Recursos</span>
                </a>
            </li>

            <li class="header-menu__item">
                <a (click)="goTo('/servidores')" mat-button color="primary" class="header-menu__link">
                    <i class="fas fa-server"></i>
                    <span>Servidores</span>
                </a>
            </li>

            <li class="header-menu__item">
                <a (click)="goTo('/usuarios')" mat-button color="primary" class="header-menu__link">
                    <i class="fas fa-user-friends"></i>
                    <span>Usuários</span>
                </a>
            </li>

            <li class="header-menu__item">
                <a (click)="logout()" mat-button color="primary" class="header-menu__link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
        <div class="header-menu-backdrop" (click)="global.toggleMenu()" [class.active]="global.menuOpen"></div>
        <a routerLink="/" class="header-logo">
            <img src="assets/logo.png" alt="Nuprocess">
        </a>

        <div class="right" *ngIf="auth.user">
            <button mat-button [matMenuTriggerFor]="userMenu" class="header-user">
                <span>Olá, <b>{{auth.user.nome}} {{auth.user.sobrenome}}</b></span>
                <div class="header-user-avatar">
                    <img [src]="auth.user.imagemPerfil || 'assets/user-avatar.png'" [alt]="auth.user.nome">
                </div>
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item [routerLink]="['/usuarios/editar', auth.user.id]">Editar perfil</button>
                <button mat-menu-item (click)="logout()">Sair</button>
            </mat-menu>
            <ul class="header-buttons">
                <li>

                </li>
            </ul>
        </div>
    </nav>
</header>