a {
  margin: 20px auto 0;
}

.form {
  &-control {
    flex: 0 1 100%;
  }
}

form {
  .btn {
    flex: 0 1 100%;
    border-radius: 25px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }
}
