.not-found {
  &-wrapper {
    height: calc(100vh - 56px);
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    min-width: 480px;
    position: relative;
    
    img {
      display: block;
      width: 480px;
      object-fit: contain;
    }
  }

  &__content {
    margin-left: 50px;

    h4 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .not-found {
    &-wrapper {
      flex-direction: column;
    }
    &__image {
      min-width: auto;
    }
    &__content {
        margin-left: 0px;
        margin-top: 40px;
        min-width: auto;
        text-align: center;
    }
  }

}
