@import "mixins";
@import "reset";
@import "variables";
@import "global";
@import "~@angular/material/theming";

@include mat-core();

$mat-myapp-accent: (
  50: #e0f7fa,
  100: #b3ebf2,
  200: #80dde9,
  300: #4dcfe0,
  400: #26c5d9,
  500: #00bbd2,
  600: #00b5cd,
  700: #00acc7,
  800: #00a4c1,
  900: #0096b6,
  A100: #dff8ff,
  A200: #aceeff,
  A400: #79e4ff,
  A700: #5fdeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-myapp-primary: (
  50: #e7eaf0,
  100: #c2c9da,
  200: #9aa6c2,
  300: #7282aa,
  400: #536797,
  500: #354c85,
  600: #30457d,
  700: #283c72,
  800: #223368,
  900: #162455,
  A100: #90a5ff,
  A200: #5d7cff,
  A400: #2a53ff,
  A700: #113eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-myapp-warn: (
  50: #ffffff,
  100: #fee9e8,
  200: #fbb8b3,
  300: #f7786f,
  400: #f65d52,
  500: #f44235,
  600: #f22718,
  700: #e01b0c,
  800: #c3170b,
  900: #a61409,
  A100: #ffffff,
  A200: #ffc7c3,
  A400: #ff685d,
  A700: #fa5548,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);
$warn: mat-palette($mat-myapp-warn);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.page-form {
  .custom-dropzone {
    height: 250px;
    background: #ffffff;
    color: $color-primary;
    border: 2px dashed rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 16px;
    transition: all 200ms;
    
    &-image {
  
      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
  
      &-item {
        margin-right: 16px;
        min-height: 100px;
        min-width: 100px;
        position: relative;
        margin-bottom: 16px;
        border-radius: 10px;
        display: inline-block;
  
        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          display: block;
          border-radius: 10px;
        }
  
        button {
          position: absolute;
          top: 0;
          right: 0;
        }
  
        &__label {
          max-width: 100px;
          white-space: normal;
          word-break: break-all;
          display: block;
          // text-overflow: ellipsis;
          // overflow: hidden;
          margin-top: 14px;
          font-size: 14px;
        }
      }
  }

  }

  .custom-dropzone.ngx-dz-hovered {
    border: 2px solid $color-primary;
  }
}
