<section class="page">
    <div class="container">
        <h1 class="home-title">
            Seja bem-vindo, {{auth.user.nome}} {{auth.user.sobrenome}}!
        </h1>
        <div class="home-boxes">
            <button class="home-box" mat-stroked-button routerLink="/usuarios">
                Usuários
            </button>
        </div>
    </div>
</section>