<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Senhas
                </h1>
                <div class="page-header__buttons">
                    <button mat-raised-button color="primary" routerLink="/senhas/adicionar">
                        ADICIONAR
                    </button>
                </div>
            </div>
            <div class="page-table">
                <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
                        Não foi possível acessar os dados dessa listagem, aguarde um pouco e tente novamente.
                    </div>
                </div>

                <mat-form-field class="page-table__search">
                    <input matInput [(ngModel)]="search" (ngModelChange)="filter($event)" placeholder="Pesquise aqui">
                    <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Limpar"
                        (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <div class="page-table-container">
                    <table mat-table [dataSource]="data" multiTemplateDataRows matSort matSortActive="0"
                        matSortDirection="asc">

                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Cliente
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="flex-row">
                                    <span>{{element.nome}}</span>
                                    <mat-spinner [diameter]="24" *ngIf="element.loading"></mat-spinner>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon>{{element !== expandedElement ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                                </mat-icon>
                            </td>
                        </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                <div class="page-element-detail"
                                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                    <!-- senhas -->
                                    <table mat-table [dataSource]="senhas" class="expanded-table">

                                        <ng-container matColumnDef="recurso">
                                            <th mat-header-cell *matHeaderCellDef>Rescurso</th>
                                            <td mat-cell *matCellDef="let row"> {{row.recurso?.nome}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="ip">
                                            <th mat-header-cell *matHeaderCellDef>IP</th>
                                            <td mat-cell *matCellDef="let row"> {{row.enderecoIp}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="porta">
                                            <th mat-header-cell *matHeaderCellDef>PORTA</th>
                                            <td mat-cell *matCellDef="let row">{{row.porta}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="usuario">
                                            <th mat-header-cell *matHeaderCellDef>Usuário Administrador</th>
                                            <td mat-cell *matCellDef="let row">{{row.usuarioCliente}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="senha">
                                            <th mat-header-cell *matHeaderCellDef>Senha Administrador</th>
                                            <td mat-cell *matCellDef="let row">
                                                <div style="display: flex; flex-flow: row; align-items: center;">
                                                    <span style="margin-right: 10px;">
                                                        {{row.visibility ? row.senhaCliente : '***********'}}
                                                    </span>
                                                    <button mat-icon-button (click)="copyToClipboard(row.senhaCliente)"
                                                        color="primary" class="small" matTooltip="Copiar senha"
                                                        aria-label="Copiar senha">
                                                        <mat-icon>content_copy</mat-icon>
                                                    </button>
                                                    &nbsp;&nbsp;
                                                    <button mat-icon-button (click)="row.visibility = !row.visibility"
                                                        color="primary" class="small" matTooltip="Visualizar"
                                                        aria-label="Visualizar">
                                                        <mat-icon>visibility</mat-icon>
                                                    </button>
                                                </div>

                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let row">

                                                <a mat-icon-button color="accent"
                                                    [routerLink]="['/senhas/editar', row.id]" matTooltip="Editar"
                                                    aria-label="Editar">
                                                    <mat-icon>create</mat-icon>
                                                </a>
                                                <button mat-icon-button color="primary"
                                                    (click)="openModalPasswordDialog(row)" matTooltip="Ver detalhes"
                                                    aria-label="Ver detalhes">
                                                    <mat-icon>visibility</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="senhasDisplayedColumns">
                                        </tr>
                                        <tr mat-row *matRowDef="let row; columns: senhasDisplayedColumns;">
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="page-element-row"
                            [class.page-expanded-row]="expandedElement === element"
                            (click)="expandedElementChange(element)">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="page-detail-row"></tr>
                    </table>
                    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[15, 25, 40, 50]" [pageSize]="15">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</section>