@import "../../../styles/variables";

.flex-row {
    display: flex;
    flex-flow: row;
    align-items: center;

    span {
        margin-right: 16px;
    }
}

tr.page-detail-row {
    height: 0;
    background: #f7f7f7;
}

tr.page-element-row:not(.page-expanded-row):hover {
    background: #efefef;
    cursor: pointer;
}

tr.page-element-row:not(.page-expanded-row):active {
    background: #efefef;
}

.page-element-row {
    &.page-expanded-row {
        background: #f7f7f7;
    }
    td {
        border-bottom-width: 0;
    }
}

.page-element-detail {
    overflow: hidden;
    display: flex;
}

// expanded table
.page-table {
    .expanded-table {
        background: #f7f7f7;
        td,
        th,
        tr {
            text-align: left;
            td:last-child {
                text-align: right;
            }
        }
        tr:last-child {
            td {
                border-bottom-width: 0px;
            }
        }
    }
}
