@import "../../../styles/variables";

.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.94);
  background: #ffffff;
  padding: 40px 60px;
  text-align: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;

  &__title {
    margin-bottom: 32px;
    display: block;
    color: $color-primary;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  .mat-progress-bar {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms;
    background: rgba(0, 0, 0, 0.5);

    &.active {
        opacity: 1;
        pointer-events: all;
    }
  }
}
