@import "../../../styles/variables";

.yw {
    &-description {
        font-size: 16px;
        line-height: 1.5;
        color: $text-color-secondary;
        padding: 16px;
    }
    &-table {
        &-item {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 16px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &__name {
                flex: 1;
            }

            &__value {
                flex: 1;
            }

            &__user {
                text-align: left;
                flex: 1;
                span {
                    display: block;
                }
            }

            &__flex {
                display: flex;
                flex-flow: row;
                align-items: center;

                .fas {
                    color: $text-color-secondary;
                }

                span {
                    flex-grow: 1;
                    margin: 0 16px;
                }

                & + .yw-table-item__flex {
                    margin-top: 10px;
                }
            }

            &:last-child {
                border-bottom-width: 0px;
            }
        }
    }
}

.modal-loading {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1%;
    padding: 16px 0;

    &-item {
        flex: 0 0 24%;
        width: 24%;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 1%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        &:hover {
            .images-item__overlay {
                opacity: 1;
                visibility: visible;
            }
        }

        &__overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.4);
            transition: all 200ms ease-in-out;
            opacity: 0;
            visibility: hidden;

            mat-icon {
                font-size: 48px;
                width: 48px;
                height: 48px;
            }
        }
    }
}