<h2 mat-dialog-title>{{senha.recurso?.nome}} - {{senha.cliente?.nome}}</h2>
<div mat-dialog-content>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Detalhes">
            <div class="yw-table">
                <div class="yw-table-item">
                    <strong class="yw-table-item__name">Cliente</strong>
                    <span class="yw-table-item__value">{{senha.cliente?.nome}}</span>
                </div>
                <div class="yw-table-item">
                    <strong class="yw-table-item__name">Recurso</strong>
                    <span class="yw-table-item__value">{{senha.recurso?.nome}}</span>
                </div>
                <div class="yw-table-item">
                    <strong class="yw-table-item__name">IP</strong>
                    <span class="yw-table-item__value">{{senha.enderecoIp}}</span>
                </div>
                <div class="yw-table-item">
                    <strong class="yw-table-item__name">Porta</strong>
                    <span class="yw-table-item__value">{{senha.porta}}</span>
                </div>
                <div class="yw-table-item">
                    <strong class="yw-table-item__name">Usuário Administrador</strong>
                    <div class="yw-table-item__user">
                        <div class="yw-table-item__flex">
                            <i class="fas fa-user"></i>
                            <span>{{senha.usuarioCliente}}</span>
                        </div>
                        <div class="yw-table-item__flex">
                            <i class="fas fa-lock"></i>
                            <span>{{showSenhaCliente ? senha.senhaCliente : safeValue(senha.senhaCliente)}}</span>
                            <div>
                                <button mat-icon-button (click)="copyToClipboard(senha.senhaInterno)" color="primary">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-icon-button (click)="showSenhaCliente = !showSenhaCliente" color="primary">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yw-table-item">
                    <strong class="yw-table-item__name">Usuário QualityInfo</strong>
                    <div class="yw-table-item__user">
                        <div class="yw-table-item__flex">
                            <i class="fas fa-user"></i>
                            <span>{{senha.usuarioInterno}}</span>
                        </div>
                        <div class="yw-table-item__flex">
                            <i class="fas fa-lock"></i>
                            <span>{{showSenhaInterno ? senha.senhaInterno : safeValue(senha.senhaInterno)}}</span>
                            <div>
                                <button mat-icon-button (click)="copyToClipboard(senha.senhaInterno)" color="primary">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-icon-button (click)="showSenhaInterno = !showSenhaInterno" color="primary">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Observação" *ngIf="senha.observacao.length">
            <div class="yw-description" [innerHtml]="senha.observacao"></div>
        </mat-tab>
        <mat-tab label="Imagens" *ngIf="imagens.length">
            <div class="images">
                <a class="images-item" *ngFor="let item of imagens" (click)="showImage(global.imageUrl+item.arquivo)">
                    <img [src]="global.imageUrl+item.arquivo" [alt]="item.nome" *ngIf="isImage(item.arquivo)">
                    <img [src]="'assets/icons/' + getFileExtension(item.arquivo) + '.svg'" [alt]="item.nome"
                        *ngIf="!isImage(item.arquivo)">
                    <div class="images-item__overlay">
                        <mat-icon color="primary">zoom_in</mat-icon>
                    </div>
                </a>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="modal-loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="close()">Fechar</button>
</div>